@{
    Layout = null;
}

<br>
<br>
<br>
<br>

<a href="/Home/Plays">Вивести список вистав</a>
<br>
<a href="/Home/Sell">Продати білет</a>
<br>
<a href="/Home/Book">Забронювати білет</a>
<br>
<a href="/Home/BookingSold">Продати заброньований білет</a>
<br>
<a href="/Home/Plays2">Список вистав з фільтрами пошуку</a>
<br>
<a href="/Home/Tickets">Список білетів</a>
<br>
